
 * {
     margin: 0;
     padding: 0;
 }

 :root {
     --textc: #F8FDFB;
     --empc: #F8FDFB;
     --brdc: var(--empc);
     --linkc: #DB5190;
     --linkv: #DB5190;
     --hic: hsl(0deg 0% 100% / 26%);
 }



 body {
    font-family: 'Titillium Web', sans-serif;
     background: url(../assets/skska.png);
     color: #F8FDFB;
     /* for firefox */
     scrollbar-width: thin;
     scrollbar-color: var(--empc) black;
     background-size: 248px;
     background-attachment: fixed;
     overflow-x: hidden;
     background-image: url(../media/stars.png);
 }

 .date {
     border: double 4.5pt var(--empc);
     background: black;
     z-index: 5;
     position: relative;
     padding: 0.5ch 2ch;
     /* USING POSITIONING LIKE THIS IS STUPID!!!
     * TOO BAD!!! */
     top: -4.0pt;
     left: -4pt;
     width: fit-content;
     width: -moz-fit-content;
     word-break: break-word;
     font-weight: normal;
 }

 #entry-box {
     width: 95%;
     max-width: 155ch;
     margin: 10ch auto;
     /* border: double 5.5pt var(--empc); */
     /* Some would say just having a border around the 
     * inner content would be better. To that I say
     * yes. yes it would. */
     outline: var(--empc) double 4.5pt;
     outline-offset: -3.5ch;
     background: black;
     text-align: justify;
     hyphens: auto;
 }

 #entry-box div {
     padding: 5ch;
     padding-top: 1.5ch;
     font-size: 1.275rem;
 }


